{% extends "base.html" %}
{% load staticfiles %}

{% block title %}
    Welcom To My Website|Login
{% endblock %}



{% block nav_home_active %}active{% endblock %}

{% block content %}
    <div class="containter">
        <div class="row">
            <div class="col-xs-4 col-xs-offset-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">LOGIN</h3>
                  </div>
                  <div class="panel-body">
                    <form action="{% url 'login' %}" method="POST">
                        {% csrf_token %}
                        <!-- {{ login_form }} -->
                        <!-- 相比上一行去除了冒号 -->
                        {% for field in login_form %}
                            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                            {{ field }}
                            <p class="text-danger">{{ field.errors.as_text }}</p>
                        {% endfor %}
                        <span class="pull-left text-danger">{{ login_form.non_field_errors }}</span>
                        <input type="submit" value="SignUp" 
                        class="btn btn-primary pull-right">
                    </form>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

